/* header */
#header {
    position: relative;
    width: 100%;
    background: #666;
    padding: 10px;
}
#header .inner {
    height: 25px;
}
#header h1 {}
#header h1 a { 
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}
#header h1 a:hover { 
    background: #999;
    border-radius: 7px;
    padding: 3px;
}
#header .nav {
    position: absolute;
    bottom: 3px;
    right: 30px;
}
#header .nav .gnb {
    display: flex;
}
#header .nav .gnb li {
    margin-right: 10px;
}
#header .nav .gnb li a {
    color: #fff;
    font-size: 14px; 
    font-weight: 600; 
    transition: 0.3s;
}
#header .nav .gnb li a:hover {
    background: #999;
    border-radius: 7px;
    padding: 3px;
}
#header .headerBtn {
    position: absolute;
    top: 7px;
    left: 130px;

    transition: 0.3s;
    background: #fff;
    color: #333;
    border-radius: 7px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}
#header .headerBtn:hover {
    background: #333;
    border-radius: 7px;
    color: #fff;
}
#header .headerBtn:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}

/* ============================================== */

/* main */
.main {
    position: relative;
}
/* sideBar */
/* sideBar - active */
.main.active .sideBar { 
    left: -250px;
}
.main.active .sideBar .menu { 
    position: absolute;
    left: 70px;
}
.main.active .work.w2 { 
    position: absolute;
    left: -200px;
}

/* sideBar Hamburger Menu */
.sideBar .menu {
    width: calc(100% - 200px);
    margin-left: 200px;
    transition: all 0.5s ease;
}
.sideBar .menu .hamburger a { 
    font-size: 30px; 
    color: #fff;
}

.sideBar {
    background : #444;
    position: absolute;
    top: 0; 
    left: 0; 
    width: 250px;
    height: 100%; 
    padding: 20px 0; 
    transition: all 0.5s ease; 
    z-index: 0;
}
.sideBar .profile {
    margin-bottom: 30px;
    text-align: center;
}
.sideBar .profile img {
    display: block;
    width: 100px; height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
.sideBar .profile h3 { color: #fff; margin: 10px 0 5px;}
.sideBar .profile p { color: rgb(206,240,253); font-size: 14px;}

/* sideBar sideWrap */
.sideBar .fmWrap {
    text-align: center;
}
.sideBar .fmWrap .fm {
    background: #fff;
    font-weight: 600;
    padding: 5px;   
}
.sideBar .invite {
    text-align: center;
}
.sideBar .invite .inviteBtn {
    width: 150px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}
.sideBar .invite .inviteBtn:hover {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #333;
}

/* board start */
.main .board {
    position: absolute;
    left: 250px;

    display: flex;
    margin: 0 auto;
    transition: all 0.5s ease;
}
.main .board li {
    border: 1px solid #ededed;
    border-radius: 10px;
    width: 320px;
    height: 360px;
    background: #ededed;
    transition: 0.4s;
    margin-left: 20px;
    padding: 5px;
}
.main .board li:hover {
    cursor: pointer;
}
.main .board li a h3 {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
.main .board li a p {
    border: 1px solid #ededed;
    border-radius: 10px;
    background: #fff;
    padding-left: 10px;
}
.main .board li .addBtn {
    margin-top: 10px;
    background: #ededed;
    width: 320px;
    border: none;
    transition: 0.3s;
}
.main .board li .addBtn:hover {
    background: #999;
    border: 1px solid #999;
    border-radius: 7px;
}
.main .board li .popup {
    margin-top: 10px;
    /* display: none; */
    border: 1px solid #333;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #333;
}
.main .board li .popup .close {
    display: block;
    text-align: right;
    font-weight: 600;
}
.main .board li .popup h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}